body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.circle {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.innerCircle {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #ffffcc; /* Amarillo muy claro */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#startButton {
  margin-top: 1vw;
  padding: 1vw 2.24vw;
  font-size: 2vw;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#timer {
  font-size: 3.25vw;
  align-items: center;
  align-content: center;
  text-align:center;
}

input {
  width: 50%;
  text-align: center;
  font-size: 3vw;
  border-color: black;
  border-width: 0.2vw;
  border-style: solid;
  outline: none;
  transition: transform 0.3 ease;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border-radius: 10%;
}

@keyframes focusAnimation {
  from {
    transform: scale(1);
    background-color: white;
  }
  to {
    transform: scale(1.25);
    background-color: #e4e42f;
  }
}
@keyframes blurAnimation {
  from {
    transform: scale(1.25);
    background-color: #e4e42f;
  }
  to {
    transform: scale(1);
    background-color: white;
  }
}

.input_focus {
  animation-name: focusAnimation;
}

.input_blur {
  animation-name: blurAnimation;
}

